@charset "UTF-8";
body {
  margin: 0px;
  padding: 0;
  font: italic 22px/1.3 Georgia, serif;
  text-decoration: none; }

.container {
  min-height: 85vh; }

.navbar {
  list-style-type: none;
  margin: 10px auto 0 auto;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border-radius: 10px; }
  .navbar a {
    text-decoration: none;
    color: black; }
  .navbar li a {
    margin: 0 0 10px 0;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center; }

.img {
  margin-top: 4%;
  max-height: 85vh;
  max-width: 100vw;
  box-shadow: inset 0px 0px 15px 15px #000, 0px 5px 10px 5px #000; }

li a:hover {
  background-color: #555;
  border-radius: 10px;
  color: white; }

@media (min-width: 750px) {
  .content-1 {
    display: flex;
    flex-direction: row;
    /*default*/
    align-items: stretch;
    /*default*/ } }
.content-2 {
  align-items: end;
  margin: 4%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.box-img {
  flex: 1;
  text-align: center; }

.box-text {
  flex: 1.5;
  text-align: center; }

.btn {
  text-decoration: none;
  display: flex;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  margin: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  flex-direction: column;
  /*чтоб не было каши*/
  align-items: center;
  justify-content: space-between;
  width: 20vw; }

.bnt a {
  text-decoration: none; }

.btn {
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%); }

.bnt :hover {
  cursor: pointer;
  box-shadow: 0 0 60px 10px rgba(204, 204, 223, 0.71); }

h1 {
  margin: -10px 0 0 0px;
  font: normal 50px/50px  ‘Bitter’, serif;
  color: #333333; }

.text {
  box-shadow: 5px 3px 4px 3px grey;
  margin: 3% 0 0 0;
  border: 1px solid silver; }

footer {
  color: white;
  max-width: 100vw;
  min-height: 20vh;
  max-height: 100vh;
  background-color: #353535;
  text-align: center; }
  footer a {
    display: inline;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none; }
  footer ul {
    display: inline-block;
    margin: 10px auto;
    text-decoration: none; }
  footer li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    align-items: center; }
  footer p {
    display: block;
    margin: auto;
    padding: 10px; }
  footer img {
    transform: translate(5px, 7px); }

.animation {
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  animation: show 3s 1;
  /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */ }

.first {
  animation-delay: 0.5s;
  /* Задержка перед началом */ }

.second {
  animation-delay: 0.7s;
  /* Задержка перед началом */ }

.third {
  animation-delay: 0.9s;
  /* Задержка перед началом */ }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (min-width: 750px) {
  .content-2 {
    align-items: end;
    margin: 4%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; } }
